.logo{
    width: 1.9rem;
    height: 30.3px;
}

.heading{
    display: flex;
    /* width: 8.9375rem;
    height: 1.89406rem; */
    width: 143px;
    height: 30.3px;
    /* flex-shrink: 0; */
    align-items: center;
    justify-content: space-between;
}

/* .text{
    height: 15.95px;
    width: 68.58px;
} */