.footer{
    
    height: 22.9375rem;
    margin-top: 242px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    color: #FFF;
font-family: Helvetica Now Display;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
display: flex;
justify-content: center;
gap: 1.5rem
}